@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

:root {
  font-family: "Sniglet", system-ui, sans-serif;
  color: #191b0e;
  background: #f8fbe7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input {
  font: inherit;
}

.sniglet-regular {
  font-weight: 400;
}

.sniglet-extrabold {
  font-weight: 800;
}